.login-form{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login_header{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}


.login_header img{
  width: 18rem;
}

.login_header h1{
  color: #333;
  font-size: 4rem;
}

.login_input{
  border: 2px solid #333;
  border-radius: .8rem;
  color: #333;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  max-width: 40rem;
  outline: none;
  padding: 1.5rem;
  width: 100%;
}

.login_button{
  background: #ee665c;
  border-radius: .8rem;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  padding: 1.5rem;
}

.login_button:disabled{
  background: #eee;
  color: #aaa;
  cursor: auto;
}














@media (max-width: 768px){
  html{
    font-size: 50%;
  }
}